<!DOCTYPE html>
<html lang="en">
<head>
    <title>Top Countries</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <h1 style="text-align:center;">Top 10 Most Populated Countries</h1>
    <table>
        <tr>
            <th>Country</th>
            <th>Continent</th>
            <th>Population</th>
        </tr>
        {% for row in countries %}
        <tr>
            <td>{{ row['Name'] }}</td>
            <td>{{ row['Continent'] }}</td>
            <td>{{ "{:,}".format(row['Population']) }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html> 